<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>visionmonster bootstrapping</title>

		<link rel="stylesheet" href="css/bootstrap.min.css" rel="stylesheet">

		<!-- build:remove:build -->
		<!-- /build -->
		<!-- build:template
		<% if(environment === 'build') {
			print('<link rel="stylesheet" type="text/css" href="'+globalcss+'" media="screen">')
		} %>
		/build -->
	</head>
	<body>

    <nav class="navbar navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">Project name</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="container t-main"></div>
		<!-- build:remove:build -->
		<script data-main="main" src="utilities/require-2.2.0.min.js"></script>
		<!-- /build -->
		<!-- build:template
		<% if(environment === 'build') {
			print('<script src="'+distjs+'"></script>');
		} %>
		/build -->

</body>
</html>
